:root {
    --padding: 24px;
    --gap: 8px;

    --shadow-light: 0 0 4px rgba(0, 0, 0, 0.25);
    --shadow-dark: 0px -1px 8px 2px rgba(0, 0, 0, 0.25),
        0px 1px 16px 2px rgba(0, 0, 0, 0.25);

    --listbox-border-radius: 8px;
    --button-border-radius: 8px;
    --button-height: 40px;
    --option-height: 40px;

    --chrome-border-light: #ccc;
    --chrome-border-dark: #505050;
    --chrome-field-dark: #2c2c2c;
}

body,
html {
    height: 100%;
}

body {
    margin: 0px;
    color: CanvasText;
    background-color: #000;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.color {
    height: 80px;
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

a {
    text-decoration: none;
    color: CanvasText;
}

p {
    margin: 4px 0;
    color: grayText;
}

.emoji {
    font-size: 1.2em;
}
.emoji.with-label {
    margin-right: 2px;
}
.caption {
    color: CanvasText;
}

.group .caption {
    margin: 0 0 var(--padding) 0;
}

main {
    display: block;
    overflow: hidden;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.row {
    display: flex;
    gap: 0;
}

.flex {
    flex: 1;
}

#toc {
    width: 240px;
    background: #f5f5f5;
    padding: var(--padding);
}

#content {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.google-symbols {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48;
}

.title {
    font-weight: bold;
}

.elements {
    color: FieldText;
}
.demo {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
    color: FieldText;
}

.light,
.dark {
    padding: var(--padding);
}

.light {
    color-scheme: light;
    background-color: white;
}

.dark {
    color-scheme: dark;
    background: black;
    --color-border: var(--color-border-dark);
}

.my-custom-select option:hover:not([disabled]) {
    background-color: buttonFace;
}

.dark .my-custom-select option:hover:not([disabled]) {
    color: fieldText;
}

.my-custom-select {
    font-size: 1em;
    line-height: 1em;
}

.my-custom-select::part(button),
.my-custom-select button {
    height: var(--button-height);
    padding: 0 8px 0 16px;
    font-size: 1em;
    display: flex;
    cursor: pointer;
    white-space: nowrap;
    background: field;
    border: 1px solid buttonBorder;
    border-radius: var(--button-border-radius);
}

#chrome .my-custom-select::part(button),
#chrome .my-custom-select button {
    border-color: var(--chrome-border-light);
    --button-border-radius: 20px;
}
#chrome .dark .my-custom-select::part(button),
#chrome .dark .my-custom-select button {
    border-color: var(--chrome-border-dark);
    background: var(--chrome-field-dark);
}

.my-custom-select::part(selectedoption),
.my-custom-select selectedoption {
    align-self: center;
    align-items: center;
    display: flex;
    gap: var(--gap);
}

.my-custom-select::part(marker),
.my-custom-select marker {
    width: 24px;
    height: 24px;
    margin-left: calc(var(--gap) / 2);
    align-self: center;
    background-size: cover;
    background-image: url(arrow_drop_down.svg);
    background-position: center center;
}

.dark .my-custom-select::part(marker),
.dark .my-custom-select marker {
    background-image: url(arrow_drop_down_white.svg);
}

.my-custom-select:open::part(marker),
.my-custom-select:open marker {
    transform: scaleY(-1);
}

.my-custom-select::part(listbox),
.my-custom-select listbox {
    background-color: Field;
    border-radius: var(--listbox-border-radius);
    padding: 0;
    border: none;
    box-shadow: var(--shadow-light);
}

#chrome .dark .my-custom-select::part(listbox),
#chrome .dark .my-custom-select listbox {
    background-color: var(--chrome-field-dark);
}

.dark .my-custom-select::part(listbox),
.dark .my-custom-select listbox {
    box-shadow: var(--shadow-dark);
}

.my-custom-select option {
    font-size: 1em;
    height: var(--option-height);
    padding: 0 36px 0 16px;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: var(--gap);
}

.my-custom-select option:after {
    position: absolute;
    right: 8px;
    content: "check_small";
    font-family: "Material Symbols Outlined";
    font-size: 24px;
    -webkit-font-feature-settings: "liga";
    visibility: hidden;
}
.my-custom-select option:checked:after {
    visibility: visible;
}

/* optgroup */
.my-custom-select header {
    padding: 0 16px;
    font-weight: bold;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    height: 32px;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 4px;
}
.dot.green {
    background-color: limegreen;
}
.dot.red {
    background-color: orangered;
}
.dot.gray {
    background-color: grayText;
}

@media (max-width: 720px) {
    .row {
        flex-direction: column;
    }

    #toc {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 100;
        transform: translate3d(-110%, 0, 0);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
}
