:root {
    --border-radius: 8px;
    --padding: 24px;
    --gap: 8px;
    --color-hover-light: rgba(179, 215, 255, 0.5);
    --color-hover-dark: #618cbe;
    --color-border: #ccc;
    --shadow-light: 0 0 4px rgba(0, 0, 0, 0.25);
    --button-height: 40px;
    --button-border-radius: 20px;
    --option-height: 40px;
    --optgroup-indent: 8px;
    --listbox-border-radius: 8px;
}

body,
html {
    height: 100%;
}

body {
    margin: 0px;
    color: CanvasText;
    background-color: #000;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

a {
    text-decoration: none;
    color: CanvasText;
}

p {
    margin: 4px 0;
    color: grayText;
}

.emoji {
    font-size: 1.25em;
}
.emoji.with-label {
    margin-right: 2px;
}
.caption {
    /* font-size: 0.8em; */
    color: CanvasText;
}

.group .caption {
    margin: 16px 0 16px 0;
    /* border-top: 1px solid var(--color-border); */
    /* margin: calc(var(--gap) * 2) 0; */
}

main {
    display: block;
    overflow: hidden;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.row {
    display: flex;
    gap: 0;
}

.flex {
    flex: 1;
}

#toc {
    padding: var(--padding);
    width: 280px;
    background: #000;
    font-size: 1.5em;
}

#toc .title {
    margin-bottom: 10px;
}

#toc a {
    padding: 4px 0;
    display: block;
}

#content {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.google-symbols {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 48;
}

.title {
    font-weight: bold;
}

.demo {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

#raw .demo {
    gap: 0;
}

.light,
.dark {
    padding: 0 var(--padding);
}

.light {
    color-scheme: light;
    background-color: white;
}

.dark {
    color-scheme: dark;
    background: black;

    --color-border: #5a5a5a;
}

.light .my-custom-select option:hover:not([disabled]) {
    background-color: var(--color-hover-light);
}

.dark .my-custom-select option:hover:not([disabled]) {
    background-color: var(--color-hover-dark);
    color: #111;
}

.dark .my-custom-select option:checked {
    color: #111;
}

.my-custom-select {
    font-size: 1em;
    line-height: 1em;
}

.my-custom-select::part(button),
.my-custom-select button {
    height: var(--button-height);
    border-radius: var(--button-border-radius);
    padding: 0 8px 0 16px;
    font-size: 1em;
    line-height: 1em;
    display: flex;
    background: field;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    background: none;
}

/* .my-custom-select:open::part(button),
.my-custom-select:open button {
    background: field;
} */

.outline .my-custom-select::part(button),
.outline .my-custom-select button {
    border: 1px solid var(--color-border);
    background: none;
}

.fill .my-custom-select::part(button),
.fill .my-custom-select button {
    border: none;
    background: buttonFace;
}

.my-custom-select::part(selectedoption),
.my-custom-select selectedoption {
    align-self: center;
    align-items: center;
    display: flex;
    gap: var(--gap);
}

.my-custom-select::part(marker),
.my-custom-select marker {
    width: 24px;
    height: 24px;
    margin-left: calc(var(--gap) / 2);
    align-self: center;
    background-size: cover;
    background-image: url(arrow_drop_down.svg);
    background-position: center center;
}

.dark .my-custom-select::part(marker),
.dark .my-custom-select marker {
    background-image: url(arrow_drop_down_white.svg);
}

.my-custom-select:open::part(marker),
.my-custom-select:open marker {
    transform: scaleY(-1);
}

.my-custom-select::part(listbox),
.my-custom-select listbox {
    background-color: Field;
    border-radius: var(--listbox-border-radius);
    padding: 0;
    border: none;
    box-shadow: var(--shadow-light);
    z-index: 10000;
}

.dark .my-custom-select::part(listbox),
.dark .my-custom-select listbox {
    box-shadow:
        0 0 2px rgba(0, 0, 0, 0.25),
        0 0 12px rgba(0, 0, 0, 0.35);
}

.my-custom-select option {
    font-size: 1em;
    line-height: 1em;
    height: var(--option-height);
    padding: 0 16px;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: var(--gap);
}

.my-custom-select option:checked {
    background: selectedItem;
    color: SelectedItemText;
}

/* optgroup */
.my-custom-select header {
    padding: 0 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0.05em;
    height: calc(var(--option-height) * 0.6);
    margin-top: 16px;
}

.my-custom-select.optgroup option {
    text-indent: var(--optgroup-indent);
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 4px;
}
.dot.green {
    background-color: limegreen;
}
.dot.red {
    background-color: orangered;
}
.dot.gray {
    background-color: grayText;
}

@media (max-width: 720px) {
    .row {
        flex-direction: column;
    }

    #toc {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 100;
        transform: translate3d(-110%, 0, 0);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
}
